
#messages
  #message-view
    ol.messages
      for message in messages
        li(id='#{message.key}', class='message-root')
          a(href='javascript:;', data-action='view')
            img(src='#{message.avatar}', class='avatar', data-action='view')
            span(data-action='view')= message.name

  #message-detail
    p
      span
      time
    canvas(id='dither-view', class='hidden')
    a(href='javascript:;', data-action='reply', class='actions reply') Reply
    a(href='javascript:;', data-action='close', class='actions close') Close
    .countdown

  form(method='post', id='message-form', enctype='multipart/form-data')
    textarea(name='message', placeholder='write your message (maximum 200 characters)')
    img(id='dither-preview-img', class='hidden', width='300')
    input(type='file', name='photo', id='photo-file', accept='image/*')
    input(type='hidden', name='width', id='image-width')
    input(type='hidden', name='height', id='image-height')
    .dither-toggle
      label(for='dither', class='checkbox')
        = 'Dither photo'
        input(type='checkbox', name='dither', data-action='dither')
    input(type='hidden', name='email')
    input(type='hidden', name='ttl')
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    span(id='current-contact')
    .button-wrapper
      button(data-action='contacts', class='selectors', type='button') choose a contact
      button(data-action='upload-photo', class='selectors', type='button') upload a photo
    ol#contacts
    #message-status
    button(type='submit') Send
    a(href='javascript:;', data-action='cancel', class='cancel') Cancel

  form(method='post', id='contacts-form')
    h2 Add a new contact
    p.tip Contacts will receive notifications only if they sign in and set it. So let them know the first time!
    input(type='text', name='email', placeholder='add contact email')
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    #contact-status
    button(type='submit') Add

  form(method='post', id='email-notification-form')
    h2 Email notifications
    p.tip
      if session.emailNotification
        input(type='checkbox', name='emailNotification', checked='checked')
      else
        input(type='checkbox', name='emailNotification')
      = 'when someone sends you a message'
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    #email-notification-status
    button(type='submit') Update
    a(href='javascript:;', data-action='cancel', class='cancel') Close

  #footer
    a(href='javascript:;', data-action='new-message') Message
    a(href='javascript:;', data-action='add-contact-form') Settings
    a(href='javascript:;', data-action='logout', id='logout') Sign out
