
#messages
  #message-view
    ol.messages
      for message in messages
        li(id='#{message.key}', class='message-root')
          a(href='javascript:;', data-action='view')
            img(src='#{message.avatar}', class='avatar', data-action='view')
            span(data-action='view')= message.name

  #message-detail
    p
    a(href='javascript:;', data-action='reply', class='actions reply') Reply
    a(href='javascript:;', data-action='close', class='actions close') Close
    .countdown 10

  form(method='post', id='message-form')
    textarea(name='message', placeholder='write your message')
    input(type='hidden', name='email')
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    span(id='current-contact')
    a(href='javascript:;', data-action='contacts') choose a contact
    ol#contacts
    #message-status
    button(type='submit') Send
    a(href='javascript:;', data-action='cancel', class='cancel') Cancel

  form(method='post', id='contacts-form')
    h2 Add a new contact
    input(type='text', name='email', placeholder='add contact email')
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    #contact-status
    button(type='submit') Add

  form(method='post', id='api-form')
    h2 Add or reset your Pushover API Key
    p.tip You can register for push notifications at
      a(href='https://pushover.net', target='_blank')  pushover.net
    input(type='text', name='apiKey', placeholder='add a notfication api key', value='#{session.apiKey || ""}')
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    #api-status
    button(type='submit') Update
    a(href='javascript:;', data-action='cancel', class='cancel') Close

  #footer
    a(href='javascript:;', data-action='new-message') Message
    a(href='javascript:;', data-action='add-contact-form') Settings
    a(href='javascript:;', data-action='logout', id='logout') Sign out
