extend layout

block content
  #message-view
    ol.messages
      for message in messages
        li(id='#{message.key}', class='message-root')
          a(href='javascript:;', data-action='view')
            img(src='#{message.avatar}', class='avatar', data-action='view')
            span(data-action='view')= message.name

  #message-detail
    p
    a(href='javascript:;', data-action='reply', class='actions reply') Reply
    a(href='javascript:;', data-action='close', class='actions close') Close
    .countdown 10

  form(method='post', id='message-form')
    textarea(name='message', placeholder='write your message')
    input(type='hidden', name='email')
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    span(id='current-contact')
    a(href='javascript:;', data-action='contacts') choose a contact
    ol#contacts
    #message-status
    button(type='submit') Send
    a(href='javascript:;', data-action='cancel', class='cancel') Cancel

  form(method='post', id='contacts-form')
    input(type='text', name='email', placeholder='email address of contact')
    input(type='hidden', value='#{session._csrf}', name='_csrf')
    #contact-status
    button(type='submit') Add
    a(href='javascript:;', data-action='cancel', class='cancel') Cancel

  #footer
    a(href='javascript:;', data-action='new-message') Message
    a(href='javascript:;', data-action='add-contact-form') Contacts
    a(href='javascript:;', data-action='logout', id='logout') Sign out
